body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: rgb(7, 7, 7);
}

nav {
  background: #222;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  background: url("assets/img/banner.jpg") center/cover;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.title {
  text-align: center;
  color: white;
  margin: 20px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
  margin-top: 40px;
}

.detalle {
  padding: 20px;
  text-align: center;
}

.detalle img {
  width: 300px;
}

